@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #9e0d03;
  --color-primary-50:  #fff1f0;
  --color-primary-100: #ffe0de;
  --color-primary-200: #ffc4bf;
  --color-primary-300: #ff9d95;
  --color-primary-400: #d84c42;
  --color-primary-500: #9e0d03;
  --color-primary-600: #8a0b02;
  --color-primary-700: #730902;
  --color-primary-800: #5c0701;
  --color-primary-900: #450501;
  --color-primary-950: #280300;

  --color-secondary: #fcce00;
  --color-secondary-50:  #fffdf0;
  --color-secondary-100: #fff9d1;
  --color-secondary-200: #fff2a3;
  --color-secondary-300: #ffe96b;
  --color-secondary-400: #ffdd2e;
  --color-secondary-500: #fcce00;
  --color-secondary-600: #e0b600;
  --color-secondary-700: #bd9600;
  --color-secondary-800: #997700;
  --color-secondary-900: #755b00;
  --color-secondary-950: #453500;
}


@layer base {
  body {
    font-family: var(--font-heading), ui-serif, Georgia, serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
  * {
    border-color: var(--color-border);
  }
  :root {
    background-color: var(--color-white);
  }

  .font-title {
    font-family: var(--font-fruktur), serif;
  }
}